/*****layout starts*****/

#outerContainer{float:left; width:100%;}
#layout{width:1000px; margin:0 auto;}
a{ color:#68B323;}
a:hover{ color:#f4a100;}
.marLeftNone{ margin-left:0px  !important;}
.marLeft5{ margin-left:5px;}
.marTopNone{ margin-top:0px !important;}
.visitALabBox{ left:290px !important; top:0px !important;}

/*****header starts*****/

#header{float:left; width:100%;}
#header .menuDiv{float:left; width:100%; background:url(../img/frontend/top-Header-Bg.gif) no-repeat 0 0 #68b323; padding:6px 0px; position:fixed; z-index:9999; }
#header .menuBoxShadow{float:left; width:100%; background:url(../img/frontend/menu-shadow.gif) no-repeat center top; height:17px; margin:52px 0 0 0; }
#header .menuDiv .menuBox{margin:0 auto; width:1000px; background:url(../img/frontend/menu-bg.gif) repeat-x 0 0 #f8f8f8; height:38px; border-radius:3px;}
#header .menuDiv .menuBox ul{ float:left; width:auto; list-style:none; }
#header .menuDiv .menuBox ul li{ float:left; width:auto; background:url(../img/frontend/menu-bullet.gif) no-repeat 0 16px; font: normal 18px Times; padding:8px 32px 9px 32px; text-transform:uppercase; position:relative;}


#header .menuDiv .menuBox ul .subMenu{ width:237px!important; float:left; background:#ffffff; top:38px; left:-1px; display:none; position:absolute;}
#header .menuDiv .menuBox ul .subMenu li{ width:236px!important; float:left; border:solid 1px #d7d6d6; padding:0px; border-top:none !important; background:none; font:normal 12px times; padding:0px !important; margin:0px;}
#header .menuDiv .menuBox ul li ul.subMenu li a{width:198px!important; float:left; text-decoration:none; color:#000; padding:5px 19px !important; }
#header .menuDiv .menuBox ul li ul.subMenu li a:hover{width:198px!important; float:left; text-decoration:none; color:#000; text-shadow:1px 1px 0px #fff; background:#ececec;}
#header .menuDiv .menuBox ul li:hover ul.subMenu{display:block;}
#header .menuDiv .menuBox ul li:hover{ float:left;   background:#fff;  border-left:solid 1px #d7d6d6; border-right:solid 1px #d7d6d6; padding:8px 31px 9px 31px;}

#header .menuDiv .menuBox ol{ float:left; width:auto; list-style:none;}
#header .menuDiv .menuBox ol li{ float:left; width:auto; background:url(../img/frontend/menu-bullet.gif) no-repeat 0 17px; font: normal 18px Times; padding:8px 15px 9px 15px; text-transform:uppercase;  position:relative; margin:0 0 0 23px; }
.active{float:left;   background:#fff;  border-left:solid 1px #d7d6d6; border-right:solid 1px #d7d6d6; padding:8px 14px 9px 14px;}


#header .menuDiv .menuBox ol .subMenu{ width:237px!important; float:left; background:#ffffff; top:38px; left:-1px; display:none; position:absolute;}
#header .menuDiv .menuBox ol .subMenu li{ width:236px!important; float:left; border:solid 1px #d7d6d6; padding:0px; border-top:none !important; background:none; font:normal 12px times; padding:0px !important; margin:0px;}
#header .menuDiv .menuBox ol li ul.subMenu li a{width:198px!important; float:left; text-decoration:none; color:#000; padding:5px 19px !important; }
#header .menuDiv .menuBox ol li ul.subMenu li a:hover{width:198px!important; float:left; text-decoration:none; color:#000; text-shadow:1px 1px 0px #fff; background:#ececec;}
#header .menuDiv .menuBox ol li:hover ul.subMenu{display:block;}
#header .menuDiv .menuBox ol li:hover{ float:left;   background:#fff;  border-left:solid 1px #d7d6d6; border-right:solid 1px #d7d6d6; padding:8px 14px 9px 14px;}




#header .menuDiv .menuBox .poweredBy{ float:left; border-left:solid 1px #c5c5c5; padding:0 0 0 4px; margin:4px 0 0 0; height:30px;}




#header .menuDiv .menuBox a{ color:#333; text-decoration:none;}
#header .menuDiv .menuBox a:hover{ color:#f7a900; text-decoration:none;}

#header .logoSection{float:left; width:100%;}
#header .logoSection .innerDiv{ margin:0 auto; width:1000px;}
#header .logoSection .innerDiv .logo{ float:left; width:auto;}
#header .logoSection .innerDiv .banner{ float:right; width:auto; }
#header .logoSection .innerDiv .banner img{ border-radius:4px;}
#header .logoSection .innerDiv .powered{ float:right; width:auto; margin:21px 0 0 0;}
#header .logoSection .innerDiv .powered span{ float:left; width:auto; margin:7px 0 0 0;}
#header .logoSection .innerDiv .powered .right{ float:left; width:auto; margin:0 0 0 10px; display:inline;}
#header .logoSection .innerDiv .powered .right img{ float:left; width:auto;}
#header .logoSection .innerDiv .powered .right ul{ float:left; width:auto; list-style:none; clear:both;}
#header .logoSection .innerDiv .powered .right ul li{ float:left; width:auto;  background:url(../img/frontend/orange-tick.gif) no-repeat 6px 5px; padding: 0 0 0 19px; margin:4px 0 0 0; clear:both; font:bold 14px Times; color:#4e4e4e;}

/*****header starts*****/


/*****Banner Part:Start*****/

#banner { float:left; width:100%; background:url(../img/frontend/banner-bg.gif) repeat-x 0 0; height:293px; margin:10px 0 0 0;}
#banner .bannerInnerDiv{ margin:0 auto; width:1000px;}
#banner .bannerInnerDiv .bannerbox{ float:left;  margin:0px 0 0 0; width:1000px; position:relative;}
#banner .bannerInnerDiv .bannerbox .pageing{ float:left; width:auto; position:absolute; top:155px; left:450px;}
#banner .bannerInnerDiv .bannerbox .pageing img{ float:left; width:auto; margin:0 0 0 5px;}

/*****Banner Part:End*****/


/*****Packages Part:Start*****/

#packages { float:left; width:100%; border-top: solid 3px #68b323; margin:2px 0 0 0;}
#packages .packagesInnerDiv{ margin:0 auto; width:1000px; position:relative;}
#packages .packagesInnerDiv .rightPart{ float:right; width:430px; background:url(../img/frontend/boxShadow.gif) no-repeat center bottom; padding-bottom:9px;}
#packages .packagesInnerDiv .rightPart .h11{margin-top: -6px; margin-bottom: 14px; width: 400px;}
#packages .packagesInnerDiv .rightPart .box{float:left; width:424px; border:solid 3px #68b323; border-top:none; padding-bottom:10px;}
#packages .packagesInnerDiv .rightPart .box h1{float:left; width:424px; background:#68b323; text-align:center; font:normal 18px Times; color:#fff; padding:3px 0; text-transform:uppercase;}
#packages .packagesInnerDiv .rightPart .box .testBox{float:left; width:424px; margin: 5px 0 0 0px; display:inline;}
#packages .packagesInnerDiv .rightPart .box .testBox .opt{float:left; width:195px; border-right: solid 1px #68b323; margin:0 0 0 15px; display:inline;}
#packages .packagesInnerDiv .rightPart .box .testBox .opt .heading{float:left; width:190px;}
#packages .packagesInnerDiv .rightPart .box .testBox .opt .heading .radioBtn{float:left; width:auto; height:auto; padding:0px; margin:2px 0 0 0;}
#packages .packagesInnerDiv .rightPart .box .testBox .opt .heading h6{float:left; width:auto; margin:0 0 0 5px; display:inline; font:bold 14px times; color:#333;}
#packages .packagesInnerDiv .rightPart .box .testBox .opt p{float:left; width:auto; clear:both; margin:3px 0 0 0;}
#packages .packagesInnerDiv .rightPart .box .testBox .selectBox{float:left; width:400px; border: solid 1px #d2d2d2; margin:10px 0 0 15px; display:inline; padding:3px; font:normal 12px arial; color:#666;}
#packages .packagesInnerDiv .leftBox{ float:left; width:250px; height:205px; background:#fff; position:absolute; top:-89px; left:0px; box-shadow: 0 0 8px #b5b5b5; z-index: 999;}
#packages .packagesInnerDiv .leftBox .innerDiv{ float:left; width:220px; margin:18px 0 0 15px; display:inline;}
#packages .packagesInnerDiv .leftBox .innerDiv p{ float:left; width:220px; margin:10px 0 0 0; text-align:justify;}
 h1{ float:left; width:220px; text-transform:uppercase; font:normal 20px times; color:#000;}
.green{ color:#68b323;}
#packages .packagesInnerDiv .leftBox .innerDiv form{ float:left; width:auto; }
#packages .packagesInnerDiv .leftBox .innerDiv form span{color: #FF0000; font-size: 11px; float: left;}
#packages .packagesInnerDiv .leftBox .innerDiv form .textBox{ float:left; width:212px; border:solid 1px #c7c7c7; padding:3px 8px; height:18px; margin-top:10px; font:normal 11px arial; }
.rightBotton{ float:right; margin:10px 0 0 0; display:inline; background:url(../img/frontend/submit-button.gif) repeat-x 0 0 #68b323;height: 30px; width: 88px; border: none;}
.leftPost{ left:280px !important;}
#packages .packagesInnerDiv .leftBox .innerDiv ul{ float:left; width:220px; list-style:none; margin:5px 0 0 0;}
#packages .packagesInnerDiv .leftBox .innerDiv ul li{ float:left; width:205px; background:url(../img/frontend/green-bullet.gif) no-repeat 0 12px; padding: 7px 0 7px 15px; border-bottom:dotted 1px #666;}
#packages .packagesInnerDiv .leftBox .innerDiv ul li a{ color:#ec9901;}
#packages .packagesInnerDiv .leftBox .innerDiv ul li a:hover{ color:#68b323;}

/*****Packages Part:End*****/


/*****Body Part:Start*****/

#bodyPart{ float:left; width:100%; }
#bodyPart .bodyInnerDiv{width:1000px; margin:0 auto;}
#bodyPart .bodyInnerDiv .breadcrumbs{ float:left; width:1000px; margin:0 0 20px 0;}
#bodyPart .bodyInnerDiv .tableDiv{ float:left; width:1000px; margin:36px 0 0 0; background:#dddddd;}
#bodyPart .bodyInnerDiv .tableDiv table th{ background:#fff; font:bold 13px arial;}
#bodyPart .bodyInnerDiv .tableDiv table .thDiv{ background:#ededed; border-top: solid 1px #fff; border-bottom: solid 1px #fff; padding:15px 0;}
#bodyPart .bodyInnerDiv .tableDiv table .thDiv span{ margin:0 0 0 15px; font:normal 17px arial; color:#000; text-shadow:1px 1px 0px #999; float:left;}
#bodyPart .bodyInnerDiv .tableDiv table .thDiv span a{ color: #000;}
#bodyPart .bodyInnerDiv .tableDiv table td{ background:#fcfcfc; padding:10px 0; text-align:center;}
#bodyPart .bodyInnerDiv .tableDiv table td .text{ width:100%; text-align:center; margin:5px 0 0 0; line-height:13px;}

#bodyPart .bodyInnerDiv .tableDiv table td .contDiv{ float:left; width:235px; margin:8px 0 0 10px; text-align:justify; font:normal 12px arial; color:#666; display:none;}



#bodyPart .bodyInnerDiv .tableDiv table td h5{ width:auto; margin:0 10px 0 10px; display:inline; clear:both; color:#6cac30; float:left; font:normal 22px times;}
#bodyPart .bodyInnerDiv .tableDiv table td p{ width:auto; margin:3px 10px 0 10px; display:inline; clear:both; text-align:justify; float:left;}
#bodyPart .bodyInnerDiv .tableDiv table td .price{width:auto; margin:0 0 0 10px; color:#6cac30; float:left; font:bold 17px arial;}


#bodyPart .bodyInnerDiv .tableDiv .priceDivBox{ float:left; width:998px; margin:0 0 1px 1px; background:url(../img/frontend/bg_1.gif) repeat-x  0 0; height:200px;}
#bodyPart .bodyInnerDiv .tableDiv .priceDivBox .blankOne{ float:left; width:40px; height:200px; border-right: solid 1px #dddddd;}
#bodyPart .bodyInnerDiv .tableDiv .priceDivBox .blankOne .greenDiv{ float:right; width:auto; background:url(../img/frontend/green-arrow-1.jpg) right 8px no-repeat; font:normal 20px arial; color: #60AA1D; padding: 0 15px 0 0; margin:20px 10px 0 0; clear:both;}
#bodyPart .bodyInnerDiv .tableDiv .priceDivBox .blankOne .grayDiv{ float:right; width:auto; background:url(../img/frontend/bull-Point.png) right 8px no-repeat; font:normal 20px arial; color: #999999; padding: 0 15px 0 0; margin:15px 10px 0 0; clear:both;}
#bodyPart .bodyInnerDiv .tableDiv .priceDivBox .blankOne .blackDiv{ float:right; width:auto; background:url(../img/frontend/black-Arrow.jpg) right 8px no-repeat; font:normal 20px arial; color: #000; padding: 0 15px 0 0; margin:15px 10px 0 0; clear:both;}



#bodyPart .bodyInnerDiv .tableDiv .priceDivBox .actionDiv{ float:left; width:162px; height:200px; border-right: solid 1px #dddddd; }
#bodyPart .bodyInnerDiv .tableDiv .priceDivBox .actionDiv .top{ float:left; width:162px; height:135px; }
#bodyPart .bodyInnerDiv .tableDiv .priceDivBox .actionDiv:hover{box-shadow: 0 0 5px #888888;}
#bodyPart .bodyInnerDiv .tableDiv .priceDivBox .actButt{ float:left; margin:18px 0 0 22px; display:inline;}
.inr{ text-align:center; float:left; width:100%; margin:10px 0 0 0; font:normal 18px arial; color:#60aa1d; clear:both;}
.inr font{ font:normal 33px arial;}
.inr1{ text-align:center; float:left; width:100%; font:normal 15px arial; color:#999; clear:both; background:url(../img/frontend/devideLine.gif) no-repeat bottom center; padding:0 0 5px 0; margin:5px 0 0 0;}
.inr1 font{ font:normal 22px arial;}
.inr2{ text-align:center; float:left; width:100%; font:normal 15px arial; color:#000; clear:both;  margin:5px 0 0 0;}
.inr2 font{ font:normal 22px arial;}





.width56{ width:56px !important;}
.width255{ width:255px !important;}
.width160{ width:160px !important;}
.width159{ width:159px !important;}





#pagination{ float:right; width:auto; margin:15px 0 0 0;}
#pagination span{ float:left; width:auto; padding:3px 10px; border-left: solid 1px #ddd; font: bold 11px arial;}
.activePage{ background:url(../img/frontend/activeBg.gif) no-repeat center center;}
.current{ background:url(../img/frontend/activeBg.gif) no-repeat center center;}



#bodyPart .bodyInnerDiv .breadcrumbs .home{ float:left; width:auto;  background:url(../img/frontend/home-icon.gif) no-repeat 0 0; padding:2px 0 0 22px;}
#bodyPart .bodyInnerDiv .breadcrumbs .bread{ float:left; width:auto;  background:url(../img/frontend/green-arrow.gif) no-repeat 0 0; padding:0px 0 0 15px; margin:5px 0 0 10px; line-height:10px;}
#bodyPart .bodyInnerDiv .breadcrumbs a{ clear:#71b831;}
.back{ width:auto;  background:url(../img/frontend/back.gif) no-repeat 0 0; padding:0px 0 0 12px; margin:5px 0 0 10px; line-height:10px;}
#bodyPart .bodyInnerDiv h1{ float:left; width:1000px; font:normal 22px times;}
#bodyPart .bodyInnerDiv h2{ float:left; width:1000px; margin:20px 0 0 0; font:normal 21px times; text-transform:uppercase;}
#bodyPart .bodyInnerDiv h5{ float:left; width:1000px; margin:15px 0 0 0; font:bold 13px arial; color:#68b323; }

#bodyPart .bodyInnerDiv .tabDivHeader{ float:left; width:770px; margin:10px 0 0 0; padding-bottom:5px;}
#bodyPart .bodyInnerDiv .tabDivHeader .leftHeading{ float:left; width:auto; font:bold 17px times; border-right: dotted 1px #ddd; padding:0 15px 0 0;}
#bodyPart .bodyInnerDiv .tabDivHeader .rightHeading{ float:right; width:auto; font:normal 17px times; border-right: dotted 1px #ddd;  border-left: dotted 1px #ddd; padding:0 15px;}





#bodyPart .bodyInnerDiv ul{ float:left; width:auto; list-style:none;}
#bodyPart .bodyInnerDiv ul li{ float:left; width:auto; text-align:justify; clear:both; margin:15px 0 0 0; padding:0 0 0 15px; background:url(../img/frontend/green-bullet.gif) no-repeat 0 3px;}
#bodyPart .bodyInnerDiv p{ float:left; width:1000px; margin:10px 0 0 0; padding-bottom:5px; text-align:justify; line-height:18px;}
#bodyPart .bodyInnerDiv .subheading{ float:left; width:auto; margin:25px 0 0 0; font:normal 17px arial; clear:both; text-decoration:underline;}
#bodyPart .bodyInnerDiv .detailsDiv{ float:left; width:auto; margin:20px 0 0 0; clear:both;}
#bodyPart .bodyInnerDiv .detailsDiv .leftDiv{ float:left; width:400px;}
#bodyPart .bodyInnerDiv .detailsDiv .leftDiv .row{ float:left; margin:10px 0 0 0; width:400px;}
#bodyPart .bodyInnerDiv .detailsDiv .leftDiv .row .leftLavel{ float:left;  width:120px; font-weight:bold;}
#bodyPart .bodyInnerDiv .detailsDiv .leftDiv .row .mid{ float:left;  width:30px; font-weight:bold;}
#bodyPart .bodyInnerDiv .detailsDiv .leftDiv .row .rightDetails{ float:left;  width:auto; width:245px;}
#bodyPart .bodyInnerDiv .detailsDiv .midDiv{ float:left; width:250px; margin:0 0 0 30px; display:inline;}
#bodyPart .bodyInnerDiv .detailsDiv .midDiv .row{ float:left; margin:10px 0 0 0; width:250px;}
#bodyPart .bodyInnerDiv .detailsDiv .midDiv .row .leftLavel{ float:left;  width:90px; font-weight:bold;}
#bodyPart .bodyInnerDiv .detailsDiv .midDiv .row .mid{ float:left;  width:30px; font-weight:bold;}
#bodyPart .bodyInnerDiv .detailsDiv .midDiv .row .rightDetails{ float:left;  width:auto;}
#bodyPart .bodyInnerDiv .detailsDiv .rightDiv { float:left;  width:auto; margin:0 0 0 20px; display:inline;}
#bodyPart .bodyInnerDiv .detailsDiv .rightDiv  img{ margin:10px 0 0 0; float:left; clear:both;}

#bodyPart .bodyInnerDiv .formDiv{ float:left; margin:10px 0 0 0; width:1000px;}
#bodyPart .bodyInnerDiv .formDiv .row{ float:left; margin:15px 0 0 0; width:auto; }
#bodyPart .bodyInnerDiv .formDiv .row .leftrow{ float:left; width:auto; }
#bodyPart .bodyInnerDiv .formDiv .row .leftrow .inputBox{ float:left; width:390px; border:solid 1px #ddd; background:#fff; height:18px; padding:3px; color:#9d9d9d; }
#bodyPart .bodyInnerDiv .formDiv .row .leftrow .textBox{ float:left; width:390px; border:solid 1px #ddd; background:#fff; padding:3px; color:#9d9d9d; font:normal 12px arial; resize:none;}
#bodyPart .bodyInnerDiv .formDiv .row .rightrow{ float:left; width:auto; margin:0 0 0 30px; display:inline; }
#bodyPart .bodyInnerDiv .formDiv .row .rightrow .inputBox{ float:left; width:390px; border:solid 1px #ddd; background:#fff; height:18px; padding:3px; color:#9d9d9d; }

#bodyPart .bodyInnerDiv .formDiv .row .rightrow .salectBox{ float:left; width:398px; border:solid 1px #ddd; background:#fff; height:26px; padding:3px; color:#9d9d9d; }
#bodyPart .bodyInnerDiv .formDiv .row .rightrow .calander{ float:left; width:auto; background:url(../img/frontend/calandericon.gif) left top no-repeat; padding:4px 0 4px 30px; margin:0 0 0 10px;}
#bodyPart .bodyInnerDiv .bottomShadow{ float:left; width:1000px;  background:url(../img/frontend/menu-shadow.gif) no-repeat top center; margin:40px 0 20px 0; height:17px; }
#bodyPart .bodyInnerDiv .cont{ float:left; width:1000px; margin:20px 0 0 0;}
#bodyPart .bodyInnerDiv .cont .leftPart{ float:left; width:522px; border:solid 1px #dbdbdb;}
#bodyPart .bodyInnerDiv .cont .rightPart{ float:right; width:435px; text-align:justify; line-height:22px; color:#272727;}
#bodyPart .bodyInnerDiv .cont .rightPart h11{margin-top: -6px; margin-bottom: 14px; width: 400px;}
#bodyPart .bodyInnerDiv .cont .rightPart img{ float:left; width:215px; height:97px; border-radius:5px; margin:0 10px 10px 0; }
#bodyPart .bodyInnerDiv .cont .rightPart .readMore{ float:right; width:auto; margin:20px 0 0 0;}
#bodyPart .bodyInnerDiv .cont .testimonialBox{ float:left; width:524px;}
#bodyPart .bodyInnerDiv .cont .testimonialBox h1{ float:left; width:auto; font:normal 25px times; color:#000;}
#bodyPart .bodyInnerDiv .cont .testimonialBox .testimonialDiv{ float:left; width:522px; border:solid 1px #dbdbdb; margin:10px 0 0 0; padding-bottom:17px;}
#bodyPart .bodyInnerDiv .cont .testimonialBox .testimonialDiv .box{ float:left; width:490px; margin:20px 0 0 17px; display:inline;}
#bodyPart .bodyInnerDiv .cont .testimonialBox .testimonialDiv .box img{ float:left; width:67px; height:67px; border:solid 2px #68B323;}
#bodyPart .bodyInnerDiv .cont .testimonialBox .testimonialDiv .box .contDiv{ float:right; width:395px;}
#bodyPart .bodyInnerDiv .cont .testimonialBox .testimonialDiv .box .contDiv .name{ float:left; width:auto; font:bold 13px arial; clear:both;}
#bodyPart .bodyInnerDiv .cont .testimonialBox .testimonialDiv .box .contDiv p{ float:left; width:auto; text-align:justify; margin:5px 0 0 0; color:#838383; line-height:16px; clear:both;}
#bodyPart .bodyInnerDiv .cont .callBack{ float:right; width:435px;}
#bodyPart .bodyInnerDiv .cont .callBack h1{ float:left; width:auto; font:normal 25px times; color:#000;}
#bodyPart .bodyInnerDiv .cont .callBack .formDiv{ float:left; width:433px; border:solid 1px #dbdbdb; margin:10px 0 0 0; padding-bottom:13px;}
#bodyPart .bodyInnerDiv .cont .callBack .formDiv .formArea{ float:left; width:395px; margin:3px 0 0 18px; display:inline;}
#bodyPart .bodyInnerDiv .cont .callBack .formDiv .formArea span{color: #FF0000; font-size: 11px; float: left;}
#bodyPart .bodyInnerDiv .cont .callBack .formDiv .formArea .inputBox{ float:left; width:373px; padding:3px 8px; border:solid 1px #dbdbdb; height:18px; font:normal 12px arial; color:#828282; margin:13px 0 0 0; outline:none;}
 #bodyPart .bodyInnerDiv .cont .callBack .formDiv .formArea .textArea{ float:left; width:373px; padding:3px 8px; border:solid 1px #dbdbdb; font:normal 12px arial; color:#828282; margin:15px 0 0 0; resize:none; outline:none;}
#bodyPart .bodyInnerDiv .cont .rightPart h3{ float:left; width:435px; font:normal 25px times; color:#000; margin:0 0 15px 0;}
/*****Body Part:End*****/


/*****Footer Part:Start*****/

#footer{ float:left; width:100%; margin:20px 0 0 0; background:url(../img/frontend/footerTopShadow.gif) no-repeat top center; padding:17px 0 0 0;}
#footer .footerTop{ float:left; width:100%; background:url(../img/frontend/footer-top-bg.gif) repeat-x 0 0 #68b323; min-height:177px;}
#footer .footerTop .topInnerDiv{ width:1000px; margin:0 auto;}
#footer .footerTop .topInnerDiv a{ color:#fff;}
#footer .footerTop .topInnerDiv .box{ float:left; border-right:dotted 1px #fff; min-height:177px; margin:0 0 0 42px; display:inline;}
#footer .footerTop .topInnerDiv .box h1{ float:left; width:auto; color:#eeff32; margin:25px 0 0 0; font:normal 22px times; clear:both;}
#footer .footerTop .topInnerDiv .box ul{ float:left; list-style:none; width:auto; clear:both;} 
#footer .footerTop .topInnerDiv .box ul li{ float:left; width:auto; clear:both; margin:12px 0 0 0; color:#FFF;}
#footer .footerTop .topInnerDiv .box .socicalDiv{ float:left; clear:both; margin:15px 0 0 0;}
#footer .footerTop .topInnerDiv .box .socicalDiv .bottompath{ float:left; margin:46px 0 0 0;}
#footer .footerTop .topInnerDiv .box .socicalDiv .socicalIcon{ float:left; width:34px; margin:0 0 0 5px; display:inline;}
#footer .footerBottom{ float:left; width:100%; padding:11px 0;} 
#footer .footerBottom .bottomInnerDiv{ width:1000px; margin:0 auto;}
.wid248{ width:248px;}
.wid195{ width:195px;}
.wid210{ width:210px;}


/*----------------------------------------------------------*/
/*                       Lightbox CSS                       */
/*----------------------------------------------------------*/

#headset-Div {background: #fff; width:auto; position: absolute; display:none; min-height:auto; z-index:999; border-radius:13px; padding:0px 25px 25px 0px; float:left; box-shadow: 0 0 3px 3px #999; left:-655px; top:-200px;}
#headset-Div .boxDiv{ float:left; width:770px; margin:20px 0 0 25px; clear:both;}
#headset-Div .boxDiv  h5{ float:left; width:auto; font:normal 22px times; clear:both;}
#headset-Div .boxDiv  p{ float:left; width:auto; margin:8px 0 0 0; clear:both;}
.formBox{ float:left; width:770px; border-top:solid 1px #d2d2d2; margin:10px 0 0 0;}
.formBox form{ float:left; width:770px; margin:8px 0 0 0;}
.formBox form .box{width:360px; padding:15px 0 0 0;}
.formBox form .box .row{ float:left; width:360px; margin:20px 0 0 0;}
.formBox form .box .row input[type=text]{ float:left; width:352px; border:solid 1px #c9c9c9; font:normal 11px verdana; color:#666; padding:4px 3px; height:22px; border-radius:3px;}
.formBox form .box .row select{ float:left; width:360px; border:solid 1px #c9c9c9; font:normal 11px verdana; color:#666; padding:5px 3px 5px 0; height:32px; border-radius:3px;}
.formBox form textarea{ float:left; width:762px; margin:25px 0 0 0; border:solid 1px #c9c9c9; font:normal 11px verdana; color:#666; padding:4px 3px 4px 3px; border-radius:3px; font:normal 11px Verdana, Geneva, sans-serif; resize:none;}
.halfWidth{ width:177px !important;}
.formBox form .continue{ float:left; width:auto; margin:20px 0 0 320px; display:inline; background:url(../img/frontend/submit-button.gif) repeat-x 0 0 #68b323;height: 30px; width: 88px; border: none;}

#packages .packagesInnerDiv .rightPart .box .testBox form .right1{background: url(../img/frontend/go_button.jpg) repeat-x 0 0 #68b323; height: 25px; width: 31px; border: none; margin-left: 12px; margin-top: 9px;}
#packages .packagesInnerDiv .rightPart .box .testBox .disNone .right1{background: url(../img/frontend/go_button.jpg) repeat-x 0 0 #68b323; height: 25px; width: 31px; border: none; margin-left: 12px; margin-top: 9px;}
.formBox form .box .row .right1{ float:left; width:auto; margin:20px 0 0 320px; display:inline; background:url(../img/frontend/submit-button.gif) repeat-x 0 0 #68b323;height: 30px; width: 88px; border: none;}


.wid165{ width:165px !important}
.marTopNone{ margin-top:0px !important;}
.formBox form p{ float:left; width:770px !important;}
.formBox form .checkBoxDiv{ float:left; width:auto;}
.formBox form .checkBoxDiv .checkDiv{ float:left; width:auto; margin:0 0 0 25px; display:inline;}
.formBox form .checkBoxDiv .checkDiv input[type=radio]{ float:left; width:auto; height:auto; padding:0px; }
.formBox form .checkBoxDiv .checkDiv label{ float:left; width:auto; font:bold 12px arial; margin:0 0 0 10px; }
.formBox form .textP{ float:left; width:770px !important; margin:10px 0 0 0px !important;}



#headset-Div .boxDiv .formBox{ float:left; width:770px; border-top:solid 1px #d2d2d2; margin:10px 0 0 0;}
#headset-Div .boxDiv .formBox form{ float:left; width:770px; margin:8px 0 0 0;}
#headset-Div .boxDiv .formBox form .box{width:360px; padding:15px 0 0 0;}
#headset-Div .boxDiv .formBox form .box .row{ float:left; width:360px; margin:20px 0 0 0;}
#headset-Div .boxDiv .formBox form .box .row input[type=text]{ float:left; width:352px; border:solid 1px #c9c9c9; font:normal 11px verdana; color:#666; padding:4px 3px; height:22px; border-radius:3px;}
#headset-Div .boxDiv .formBox form .box .row select{ float:left; width:360px; border:solid 1px #c9c9c9; font:normal 11px verdana; color:#666; padding:4px 3px 4px 0; height:30px; border-radius:3px;}
#headset-Div .boxDiv .formBox form .box .row textarea{ float:left; width:352px; border:solid 1px #c9c9c9; font:normal 11px verdana; color:#666; padding:4px 3px 4px 3px; border-radius:3px; font:normal 11px Verdana, Geneva, sans-serif; resize:none;}
.halfWidth{ width:177px !important;}
#headset-Div .boxDiv .formBox form .continue{ float:left; margin:20px 0 0 320px; display:inline;}
.closeOne {width: 24px; height: 23px; overflow: hidden; display: block; position: absolute; top: 8px; right: 3px; }
.actionButtonDiv{ float:left; width:auto; position:relative; margin: 0 0 0 17px;}
.offerBanner{ float:left; width:auto; position:relative;}
.offerBanner{ float:left; width:auto; position:relative;}


.visitATest {background: #fff; width:auto; position:absolute; display:none; top:-150px; left:-500px; min-height:auto; z-index:999; border-radius:13px; padding:0px 25px 25px 0px;  box-shadow: 0 0 3px 3px #999;} 
.visitATest .boxDiv{ float:left; width:390px; margin:20px 0 0 25px; clear:both;}
.visitATest .boxDiv h4{ float:left; width:auto; font:normal 22px times; clear:both;}
.visitATest .boxDiv  p{ float:left; width:auto; margin:8px 0 0 0 !important; clear:both;}
.visitATest .boxDiv .formBox{ float:left; width:390px; border-top:solid 1px #d2d2d2; margin:10px 0 0 0;}
.visitATest .boxDiv .formBox form{ float:left; width:390px;}
.visitATest .boxDiv .formBox form .box{width:390px; }
.visitATest .boxDiv .formBox form .box .row{ float:left; width:390px; margin:20px 0 0 0;}
.visitATest .boxDiv .formBox form .box .row span{color: #FF0000; font-size: 11px; float: left;}
.visitATest .boxDiv .formBox form .box .row input[type=text]{ float:left; width:380px; border:solid 1px #c9c9c9; font:normal 11px verdana; color:#666; padding:4px 3px; height:22px; border-radius:3px;}
.visitATest .boxDiv .formBox form .box .row input[type=radio]{ float:left; width:auto; height:auto; padding:0px; margin-left: 18px; margin-top: 0px;}
.visitATest .boxDiv .formBox form .box .row span{ float:left; width:auto; margin:0 0 0 10px ;}
.visitATest .boxDiv .formBox form .box .row label{ float:left; width:auto; margin:0 0 0 10px ;}


.bg0{ background:#f9f9f9 !important;}
.bg1{ background:#fcfcfc !important;}
.bg2{ background:#ffeff9 !important;}
.bg3{ background:#f6fdea !important;}
.bg4{ background:#ecfecc !important;}
.bg5{ background:#fff9e9 !important;}
.bg6{ background:#fff4d3 !important;}
.bg7{ background:#f6fcfd !important;}
.bg8{ background:#e8f9fe !important;}
.borLeft1{ border-left:solid 3px #ffcbec;}
.borLeft2{ border-left:solid 3px #ceea9b;}
.borLeft3{ border-left:solid 3px #e2da60;}
.borLeft4{ border-left:solid 3px #ffe69c;}
.borLeft5{ border-left:solid 3px #b4eafb;}
.bullPoint{ float:left; width:auto; clear:both; font:bold 12px arial; background:url(../img/frontend/bull-Point.png) no-repeat 0 3px; padding:0 0 0 10px; margin:5px 0 0 10px; cursor:pointer;}
#intro { position:relative; height:293px; width: 100%;}
#intro ul { float:left; width:1000px; height:293px; list-style:none;}
#intro ul li { width: 100%; height: 293px; }
#intro .pagination {position: absolute; bottom:130px; z-index: 999; width: auto; left:45%;}
#intro .pagination a {width: 8px; height: 8px; background: #68B323; border-radius: 8px; box-shadow: inset 2px 2px 4px -2px #000; display: inline-block; *display: inline; zoom: 1; text-indent: -99999em; text-align: center; margin-left: 5px; }
#intro .pagination a.activeSlide { background: #f89b2a }


#bodyPart .bodyInnerDiv .managementDiv{ float:left; width:1000px; margin:25px 0 0 0;}
#bodyPart .bodyInnerDiv .managementDiv .imgDiv{ float:left; width:137px; height:132px; border:solid 1px #e1e1e1;}
#bodyPart .bodyInnerDiv .managementDiv .imgDiv img{ float:left; width:131px; height:126px; margin:3px 0 0 3px;}
#bodyPart .bodyInnerDiv .managementDiv .textBox{ float:right; width:840px;}
#bodyPart .bodyInnerDiv .managementDiv .textBox h5{ float:left; width:auto; font:bold 13px arial; color:#68B323; clear:both; margin:0px;}
#bodyPart .bodyInnerDiv .managementDiv .textBox p{ float:left; width:auto; margin:7px 0 0 0; clear:both;}


#bodyPart .bodyInnerDiv .testimonialDiv {width:475px;}
#bodyPart .bodyInnerDiv .testimonialDiv .testimonialBox{ float:left; width:475px; margin:25px 0 0 0;}
#bodyPart .bodyInnerDiv .testimonialDiv .testimonialBox .imgDiv{ float:left; width:67px; height:57px; border:solid 1px #e1e1e1;}
#bodyPart .bodyInnerDiv .testimonialDiv .testimonialBox .imgDiv img{ float:left; width:64px; height:57px; }
#bodyPart .bodyInnerDiv .testimonialDiv .testimonialBox .textBox{ float:right; width:385px;}
#bodyPart .bodyInnerDiv .testimonialDiv .testimonialBox .textBox h5{ float:left; width:auto; font:bold 13px arial; color:#68B323; clear:both; margin:0px;}
#bodyPart .bodyInnerDiv .testimonialDiv .testimonialBox .textBox p{ float:left; width:auto; margin:7px 0 0 0; clear:both;}

.contactRowDiv { float:left; width:1000px; border-bottom: dashed 1px #ddd; padding-bottom:20px; margin-top: 20px;}
#bodyPart .bodyInnerDiv .contactLeftDiv {width:395px;}
#bodyPart .bodyInnerDiv .contactLeftDiv p{ float:left; width:395px; clear:both; margin:0px;}
#bodyPart .bodyInnerDiv .contactLeftDiv .addressBox{ float:left; width:395px; background:url(../img/frontend/bottom-shadow.gif) left bottom repeat-x; padding-bottom:15px; margin:15px 0 0 0;}
#bodyPart .bodyInnerDiv .contactLeftDiv .addressBox .row{ float:left; width:395px; }
#bodyPart .bodyInnerDiv .contactLeftDiv .addressBox .row .iconDiv{ float:left; width:16px;}
#bodyPart .bodyInnerDiv .contactLeftDiv .addressBox .row .boldTextDiv{ float:left; width:auto; font:bold 12px arial; color:#000; margin:0 0 0 10px;}
#bodyPart .bodyInnerDiv .contactLeftDiv .addressBox .textDiv{ float:left; width:auto; margin:0 0 0 25px; display:inline; line-height:19px;}
#bodyPart .bodyInnerDiv .contactRightDiv {width:auto; border:solid 1px #ddd;}


#siteMap{ float:left; width:auto; margin:5px 0 0 0;}
#siteMap h5{ float:left; width:auto; margin:10px 0 0 0; font:normal 16px times !important;}
#siteMap ul{ float:left; width:auto; list-style:none; margin:0 0 0 25px;}
#siteMap ul li{ float:left; width:auto; clear:both; background:url(../img/frontend/siteMapBg.gif) no-repeat 0 0 !important; padding:17px 0 0 45px !important; margin:0px !important; }



#siteMap a{ color:#000;}
#siteMap a:hover{ color:#68B323;}
#bodyPart .bodyInnerDiv .greenText{ float:left; width:640px; padding:5px; font-size:13px; color:#fff; background:#68b323; border-radius:3px; margin:15px 0 0 0;}
#bodyPart .bodyInnerDiv .greenText01{ float:left; width:640px; font: bold 15px arial; color:#68b323; border-radius:3px; margin:20px 0 0 0;}
#bodyPart .bodyInnerDiv .chooseDiv{ float:left; width:640px; margin:15px 0 0 0;}
#bodyPart .bodyInnerDiv .chooseDiv .optDiv{ float:left; width:auto; border-right: solid 1px #666; padding:0 30px 0 0; margin:0 0 0 20px; }
#bodyPart .bodyInnerDiv .chooseDiv .optDiv input[ type=radio]{ float:left; width:auto; height:auto; margin:0px; padding:0px;}
#bodyPart .bodyInnerDiv .chooseDiv .optDiv span{ float:left; width:auto; margin:0 0 0 10px; font:bold 12px arial;}
#bodyPart .bodyInnerDiv .chooseDiv span1{color: #FF0000; float: left; font-size: 11px; margin-left: 134px;}

#bodyPart .bodyInnerDiv .bookForm{ float:left; width:650px;}
#bodyPart .bodyInnerDiv .bookForm img{ float:left; margin:20px 0 0 0;}

#bodyPart .bodyInnerDiv .bookForm .boxRow{ float:left; width:650px; margin:15px 0 0 0;}
#bodyPart .bodyInnerDiv .bookForm .boxRow span{color: #FF0000; font-size: 11px; float: left; margin-left: 134px;}
#bodyPart .bodyInnerDiv .bookForm .boxRow label{ float:left; width:135px; margin:8px 0 0 0; font:normal 14px times;}
#bodyPart .bodyInnerDiv .bookForm .boxRow .smalllabel{ float:left; width:70px; margin:8px 0 0 20px; font:normal 14px times;}
#bodyPart .bodyInnerDiv .bookForm  p{ float:left; width:auto; margin:15px 0 0 0; text-align:justify; border-bottom:dotted 1px #ddd; padding:0 0 10px 0; }

#bodyPart .bodyInnerDiv .bookForm .boxRow input[type=text]{ float:left; width:507px; height:22px; border-radius:3px; border:solid 1px #d7d7d7; padding:3px; color:#666; font-style:italic; outline:none;}
#bodyPart .bodyInnerDiv .bookForm .boxRow .right{background:url(../img/frontend/submit-button.gif) repeat-x 0 0 #68b323;height: 30px; width: 88px; border: none;}
#bodyPart .bodyInnerDiv .bookForm .boxRow textarea{ float:left; width:507px; border-radius:3px; border:solid 1px #d7d7d7; padding:3px; color:#666; font-style:italic; resize:none; outline:none; color:#acacac; font-family:arial; font-size:12px;}
#bodyPart .bodyInnerDiv .bookForm .boxRow select{ float:left; width:515px; border-radius:3px; border:solid 1px #d7d7d7; padding:3px; color:#666; font-style:italic; resize:none; outline:none; color:#acacac; font-family:arial; font-size:12px; height:29px;}
.smallTextBox{ width:204px !important;}
.smallSelectBox{ width:212px !important;}
.addBoxIn{ width:175px !important; margin:5px 0 0 23px !important; display:inline; clear:both; float:left; padding:0px !important; border:none !important;} 