@charset "utf-8";
/* CSS Document */
*{ padding: 0px; margin:0px;}
html,body { font-family: Arial, Helvetica, sans-serif; font-weight: normal; color: #000; font-size: 14px; }

body { background: #fff;}
.row { width: 100%!important;}
.float-left { float: left!important;}
.float-right { float: right!important;}
.mtop10 { margin-top: 10px!important; }
.top-left10-10 { margin: 10px 0 0 6px!important;}
.mright10 { margin-right: 10px!important; }
.mtop15 { margin-top: 15px!important; }
.mtop20 { margin-top: 20px!important; }
.mleft8 { margin-left: 8px!important; }
.mtop3 { margin-top: 3px!important; }
.mtop-5 { margin-top: -5px!important; }
.pboth12{ padding: 0px 12px!important; }
img { border: none; }
a,input { outline: none!important; }
.clr-left { clear: left!important; }
.clr-right { clear: right!important; }
.clr-both { clear: both!important; }

#wrapper { width: 100%; min-height: 100%; display: block; background: url(../img/bg_order.jpg) left top no-repeat; display: inline-block;}

#mainbody { width: 1006px; margin: 0 auto;}
#header { width: 100%; height: 133px; } 
#header h1 { margin-top: 20px; width: 323px; float: left; }
#header .header-right-div { width: 537px; margin-left: 142px; }
#header .order-food { width: 299px; float: left; }
#header ul.menu-blog { list-style: none;  width: 299px; margin:30px 0 0 46px; }
#header ul.menu-blog li { float: left; }
#header ul.menu-blog li a{ float: left; font-size: 13px; color: #201818; font-weight: bold; text-decoration: none; padding-right: 14px; }
#header ul.menu-blog li a:hover { text-decoration: underline; }
#header .sign-in { width: 221px; margin-left: 17px; margin-top: 7px; }
#header .input { width: 225px; height: 36px; padding: 0 10px; margin-bottom: 6px; line-height: 36px; background: url(../img/input-bg.png) left top no-repeat; border: none; }

#main-container { width: 100%; background: url(../img/center.jpg) left top repeat-y; float: left; }
#main-container .top { width: 100%; background: url(../img/top.jpg) left top no-repeat; padding-top: 13px; float: left;}
#main-container .bottom { width: 100%; background: url(../img/bottom.jpg) left bottom no-repeat; padding-bottom: 12px;float: left;}
#main-container .left-content { width: 171px; float: left; margin-right: 6px; }
#main-container .left-content h2.home-delivery { background: url(../img/home-delivery-bg.png) left top no-repeat; height: 22px; line-height: 22px; text-align: center; color: #fff; font-size: 12px; font-weight: bold; float:left;width:172px; }
#main-container .right-content h2.home-delivery { background: url(../img/home-delivery-bg.png) left top no-repeat; height: 22px; line-height: 22px; text-align: center; color: #fff; font-size: 12px; font-weight: bold; float:left;width:172px; }
#main-container .left-content ul.search { list-style: none; width: 100%; float:left; margin-bottom:10px;}
#main-container .left-content ul.search li { border-bottom: 1px solid #dadada; height: 23px; background: url(../img/arrow_order.png) left center no-repeat; padding-left: 10px; }
#main-container .left-content ul.search li a { padding-left: 14px; height: 23px; line-height: 23px; text-decoration: none; font-size: 12px; color: #010101; }
#main-container .left-content ul.search li a:hover { text-decoration: underline; }

#main-container .center-content { width: 608px; float: left; margin-right: 2px; }
#main-container .center-content .banner { padding: 0 16px 0 21px; width: 569px; float: left;  background: url(../img/mid2.jpg) left top repeat-y; }
#main-container .center-content .banner .left-div { width: 320px; float: left; margin-right: 21px; }
#main-container .center-content .banner .darlind-logo { float: left; width: 88px; height: 87px; margin-right: 20px;}
#main-container .center-content .banner a.search { color: #1ca9e7; font-size: 15px; font-weight: bold; text-decoration: underline;}
#main-container .center-content .banner a.search:hover { text-decoration: none;}
#main-container .center-content .banner .awards { float: left; background: url(../img/awards-bg.jpg) left top no-repeat; width: 211px; height: 40px; text-align: center; padding-top: 10px; }
#main-container .center-content .banner .awards p.tasty{ text-transform: uppercase; font-size: 11px; color: #782b25; }
#main-container .center-content .banner .right-div { width: 227px; float: left;}
#main-container .center-content .banner a.user-reviews { font-size: 14px; font-weight: bold; color: #0ca0e2; margin-right: 6px; }
#main-container .center-content .banner a.user-reviews:hover{ text-decoration: none;}
#main-container .center-content .banner p.estimated { font-size: 12px; font-weight: bold; color: #782b25; line-height: 18px; }
#main-container .center-content .banner dl.address { width: 350px; float: left;}
#main-container .center-content .banner dl.address dt { width: 112px; float: left; font-size: 14px; color: #782b25; min-height: 20px; font-weight: bold;}
#main-container .center-content .banner dl.address dd { width: 230px; float: left; font-size: 12px; color: #000; min-height: 20px; font-weight: bold;}
#main-container .center-content .right-corner { float: left; width: 587px; background: url(../img/right-corner.jpg) right top no-repeat; height: 14px; }
#main-container .center-content h2.darling-pizzeria { font-size: 18px; color: #0fa2e3; text-decoration:  underline; font-weight: normal;}

#main-container .center-content .right-bottom-corner { float: left; width: 587px; background: url(../img/right-bottom-corner.jpg) right bottom no-repeat; height: 17px;}


#main-container .center-content h2.appetizers { background: url(../img/appetizers.jpg) left top no-repeat; padding-left: 10px; width: 594px; height: 35px; line-height: 35px; color: #46b9eb; font-size: 18px; font-weight: normal; }
#main-container .center-content .bottom-div { float: left; background: url(../img/bottom-bit.jpg) left bottom no-repeat; width: 608px;height: 7px;} 
#main-container .center-content .center-div { float: left; padding: 10px 0px 0px 10px; background: url(../img/mid.jpg) left top repeat-y; width: 597px; }
#main-container .center-content ul.garlicpizza { list-style: none; }
#main-container .center-content ul.garlicpizza li { width: 100%; min-height: 30px;}
#main-container .center-content .large-garlic-pizza { float: left; width: 70%;*width: 350px; text-transform:lowercase; margin-right:5px; }
#main-container .center-content .price {width: 50px; text-align: right; float: left; color: #500802;}

#main-container .right-content { width: 191px; float: left; }
#main-container .right-content .your-order { width: 200px;float: left; margin-left: 4px;margin-bottom:10px;}
#main-container .right-content .your-order h2.order { background: url(../img/your-order-button.jpg) left top no-repeat; width: 191px; height: 36px; line-height: 36px; text-align: center; font-weight: bold; color: #fff; font-size: 13px;}
#main-container .right-content .your-order h3.transparent-bg { font-weight: bold; background: url(../img/transparent-bg.jpg) left top no-repeat; width: 169px; height: 41px; padding: 10px 0 0 10px;font-size: 11px; color: #e1f4fc; }
.transparent-bg-top { font-weight: bold; background: url(../img/item_top.png) left top no-repeat; height:5px; width: 169px; margin-top:5px; padding: 5px 0 0 10px;font-size: 11px; color: #e1f4fc; }
.transparent-bg-bottom { font-weight: bold; background: url(../img/item_bottom.png) left top no-repeat; width: 169px; height: 5px; padding: 5px 0 0 10px;font-size: 11px; color: #e1f4fc; }

.transparent-bg { font-weight: bold; background: url(../img/item_mid.png) left top repeat-y; width: 169px; padding: 5px 0 0 10px;font-size: 11px; color: #e1f4fc; }
#main-container .right-content .your-order .your-order-mid { width: 95%; float: left; background: #782b25 url(../img/bottom1.jpg) left bottom no-repeat; padding-bottom: 9px;}
#main-container .right-content .your-order dl.sub-total { padding: 0 20px; color: #fff; }
p.confirmation { font-size: 7px; color: #e1f4fc; padding: 3px;}
#main-container .right-content .your-order dl.sub-total dt { width: 90px; float: left; }
#main-container .right-content .your-order dl.sub-total dd{ width: 60px; text-align: right; float: left; }
#main-container .right-content .meal-deals { padding: 7px 0px 0px 5px; background: url(../img/meal-mid1.png) left top repeat-y; float: left; width: 201px;  }
#main-container .left-content .meal-deals { padding: 7px 0px 0px 5px; background: url(../img/meal-mid1.png) left top repeat-y; float: left; width: 201px;  }
#main-container .right-content .meal-deals h2.meal { font-weight: normal; color: #1ca9e7; font-size:11px; } 
#main-container .left-content .meal-deals h2.meal { font-weight: normal; color: #1ca9e7; font-size:11px; } 
#main-container .right-content .meal-deals .your-order dl.qty {color: #000; }
#main-container .right-content .meal-deals dl.qty dt { width:30px; float: left; padding-top: 5px; }
#main-container .left-content .meal-deals dl.qty dt { width:30px; float: left; padding-top: 5px; }
#main-container .right-content .meal-deals dl.qty dd { float: left;}
#footer { width: 1006px; padding-top: 20px; float: left; background: #fff; }
#footer ul.visa { list-style: none; margin-left: 50px; width: 180px; float: left; }
#footer ul.visa li { padding-right: 10px; float: left;}
#footer ul.link { list-style: none;} 
#footer ul.link li { float: left; padding: 0 5px; background: url(../img/devider.jpg) right center no-repeat; }
#footer ul.link li a { text-decoration: none; float: left; color: #646262; }
#footer ul.link li a:hover { text-decoration: underline; }
#footer ul.link li.last { background: none;}
#footer p { margin:0 0 20px 100px;}
.error-message{ color:#FF0000;}
.banner .error{color:#FF0000; clear:both; float:left; width:100%;}
.payment_type .error{color:#FF0000; clear:both; float:left; width:auto;}
.size_name{ font-size:10px; font-weight:bold; font-family:Tahoma, Geneva, sans-serif}
.order_size td label{ margin-left:5px; margin-right:15px;*margin-left:5px;*margin-right:15px;}
.cart_items{max-height:400px;width:203px;overflow:scroll;overflow-x:hidden; float:left; }
.cart_outer{ float:left; width:200px; }




#comments {
  float:left;
  width:450px;
}

#comment-wrapper {
  position: relative;
}

#commentWrapper { /* required to avoid jumping */
  position: absolute;
  width:200px;
  margin-top:30px;
}

#cartSummary {
  position: absolute;
  top: 0;
}

h2 {
  font-family:georgia,serif;
}

#comments ol li {
  border-top: 1px solid purple;
}

#comments ol li:first-child {
  border-top: 0;
}

#cartSummary.fixed {
  /*position: fixed;*/
  top: 0;
}

#main-container .search_section {
    float: left;
    margin-right: 2px;
    width: 420px;
}

#main-container .search_section .banner { 
	padding: 0 16px 0 21px; 
	width: 420px; 
	float: left;  
	background: url(../img/search2.jpg) left top repeat-y; 
}

#main-container .search_section .right-corner { 
	float: left; 
	width: 399px; 
	background: url(../img/search-right-corner.jpg) right top no-repeat; 
	height: 14px; 
}

#main-container .search_section .banner .left-div { width: 320px; float: left; margin-right: 21px; }

#main-container .search_section .banner .darlind-logo { float: left; width: 88px; height: 87px; margin-right: 20px;}
#main-container .search_section .banner a.search { color: #1ca9e7; font-size: 15px; font-weight: bold; text-decoration: underline;}
#main-container .search_section .banner a.search:hover { text-decoration: none;}
#main-container .search_section .banner p.estimated { font-size: 12px; font-weight: bold; color: #782b25; line-height: 18px; }
#main-container .search_section .banner dl.address { width: 350px; float: left;}
#main-container .search_section .banner dl.address dt { width: 112px; float: left; font-size: 14px; color: #782b25; min-height: 20px; font-weight: bold;}
#main-container .search_section .banner dl.address dd { width: 230px; float: left; font-size: 12px; color: #000; min-height: 20px; font-weight: bold;}
#main-container .search_section .right-bottom-corner { float: left; width: 399px; height: 17px;
background: url(../img/search-right-bottom-corner.jpg) right bottom no-repeat; }

.offer-right-bottom-corner { float: left; width: 146px; height: 17px;
background: url(../img/offer-right-bottom-corner.jpg) right bottom no-repeat; }

