<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Pensacola Pathologists</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="mainoutercontainer">
<div id="maincontainer">
<div class="maintopcontainerbg">
<div id="header">
<div class="float_l"><a href="#"><img src="images/logo.jpg" alt="" border="0" /></a></div>
<div class="navi_bg">
<div class="navi_normal"><a href="#">Home</a></div>
<div class="navi_normal"><a href="#">About Us</a></div>
<div class="navi_normal"><a href="#">Services</a></div>
<div class="navi_heighlight"><a href="#">Supplies</a></div>
<div class="navi_normal"><a href="#">Contact Us</a></div>
<div class="navi_normal"><a href="#">Careers</a></div>
<div class="navi_normal"><a href="#">Patients</a></div>
<div class="navi_normal"><a href="#">Our Pathologists</a></div>
</div>
</div>
<div id="midpart">
<div class="midpart_heading middle_heading_txt">Experience the benefits of using a <br />
locally-owned and operated pathology lab!</div>
<div class="midpart_heading">
<ul class="supplies_txt">
<li><a href="#">Quick turnaround</a></li>
<li><a href="#">Monthly abnormal logs for patient follow-up</a></li>
<li><a href="#">Multiple testing from a single pap<br />
  (Pap, Chlamydia/Gonorrhea and HPV)</a></li>
<li><a href="#">Patient postcards for normal results</a></li>
<li><a href="#">Customized forms</a></li>
<li><a href="#">Personalized billing</a></li>
<li><a href="#">Daily courier pick-ups by our dedicated team</a></li>
<li><a href="#">Local pathologists for consultation</a></li>
</ul>
</div>
<div class="btn_div">
<div class="btn_bg supplies_txt"><a href="#">Subscribe to our newsletter!</a></div>
</div>
<div class="btn_div">
<div class="btn_bg supplies_txt"><a href="#">Request a specimen pick-up!</a></div>
</div>
</div>
<div id="footer_navi">
<div class="float_l times13blu">The leader in providing quality pathology services for the Gulf South</div>
<div class="footernavi_div times13blu"><a href="#">Home</a> &nbsp; &nbsp;<a href="#">About Us</a> &nbsp; &nbsp;<a href="#">Services</a> &nbsp; &nbsp;<a href="#">Supplies</a> &nbsp; &nbsp;<a href="#">Contact Us</a> &nbsp; &nbsp;<a href="#">Careers</a> &nbsp; &nbsp;<a href="#">Patients</a> &nbsp; &nbsp;<a href="#">Our Pathologists</a></div>
</div>
</div>
<div class="float_l"><img src="images/shadow.jpg" alt="" /></div>
<div id="footer">
<div class="footer_com footer_txt">www.pnspath.com Copyright 2007</div>
</div>
</div>
</div>
</body>
</html>
